@media (min-width: 960px) and (max-width: 1400px) {
h1 {font-family: serif;}
* {margin: 0;}
body {margin: 8ch;}
p {line-height: 2; text-indent: 4ch;}

#article {width: 80%;}
#nav{width: calc(20% - 8ch); position: relative; float: right;}
}

