* {margin: 0;}
body {margin: 8ch;}
p {line-height: 2; text-indent: 4ch;}

#article {width: 80%; display: inline-block;}
#nav {width: 20%; position: relative; top: 4em; float: right; display: inline-block;}

